.container {
  overflow: hidden;
}
.transformer {
  @include backface-visibility(hidden);
  @include perspective(1000);
  transition: transform 0.3s ease;
  &.is-open {
    transform: translate3d($off-canvas-width, 0, 0);
  }
}
.off-canvas {
  position: absolute;
  width: $off-canvas-width;
  left: -$off-canvas-width;
  top: 0;
  bottom: 0;
}
.main {
  @include container;
  padding-left: gutter();
  padding-right: gutter();
}
// close btn
  .close {
    padding-left: 1.5em;
    border-bottom: 1px solid #ddd;
  }
  .close-btn {
    display: block;
    margin-top: 1.75em;
    height: 1.5em;
    margin-bottom: 1.75em;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s ease;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }
