// Variables
$em-base : 16px;
$off-canvas-width: 81%;
$susy: (
  columns: 12,
  global-box-sizing: border-box
);


$lime: rgb(151, 170, 39);
$lime-alt: rgb(133, 164, 25);
$petroleum :  rgb(0, 120, 121);
$petroleum-alt : rgb(0, 107, 108);
$turquoise : rgb(54, 200, 199);
$turquoise-alt: rgb(41, 184, 183);
$grey : rgb(89, 91, 90);
$grey-light : rgb(98, 101, 99);

// bower:scss
@import "susy/sass/_susy.scss";
@import "bourbon/dist/_bourbon.scss";
// endbower
@import "font-awesome";
@import "weather-icons";
@import "utilities";
@import "off-canvas";
@import "menu";

@include border-box-sizing;

html{font-size: 62.5%}
body {
  background: $grey;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
}


nav{
  #profile{
    padding: 10px 20px;
    .profile-picture{
      width: 50px;
      height: 50px;
      border-radius: 45px;
      border: 2px solid white;
    }
  }
  #menu-list{
    margin: 0;
    @extend %inline;
    li{
      width: 100%;
      padding: 10px 0 10px 20px;
      @include background(linear-gradient($grey-light, $grey) left no-repeat);
    }
  }
}
