// Variables
$em-base : 16px;
$off-canvas-width: 81%;
$susy: (
  columns: 12,
  global-box-sizing: border-box
);


$lime: rgb(169, 190, 43);
$lime-alt: rgb(151, 170, 39);
$petroleum :  rgb(0, 120, 121);
$petroleum-alt : rgb(0, 104, 105);
$turquoise : rgb(54, 200, 199);
$turquoise-alt: rgb(41, 184, 183);
$grey : rgb(99, 101, 100);
$grey-gradient-end : rgb(89, 91, 90);
$grey-alt : rgb(51, 52, 55);
$beige: rgb(188, 187, 187);

// bower:scss
@import "susy/sass/_susy.scss";
@import "bourbon/dist/_bourbon.scss";
// endbower
@import "font-awesome";
@import "weather-icons";
@import "utilities";
@import "off-canvas";
@import "menu";
@import "icons";

@include border-box-sizing;

html{font-size: 62.5%}
body {
  background: $grey;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
}


.profile-picture{
  width: 50px;
  height: 50px;
  border-radius: 45px;
  border: 2px solid white;
}

nav{
  #profile{
    padding: 10px 20px;
  }
  #menu-list{
    margin: 0;
    @extend %inline;
    li{
      width: 100%;
      padding: 20px 0 25px 20px;
      font-size: rem(35);
      font-weight: 300;
      position: relative;
      padding-left: 70px;
      @include background(linear-gradient($grey,$grey-gradient-end) left no-repeat);
      &:hover{
        @include background(linear-gradient(rgb(174, 194, 56),$lime) left no-repeat);
        [class^="icon-"],
        [class*=" icon-"]{
          color:white;
        }
      }
    }
  }
}



/* crado vincent */

.list-user-points {
  float: right;
  color: white;
  font-size: 60%;
}

.friend-list {
  list-style-type: none;
  padding: 0;
}

.friend-list img.profile-picture {
  vertical-align: bottom;
  margin-right: 5px;
}

.friend-list li.user {
  margin: 10px 0;
}
/* */
