// Variables
$em-base : 16px;
$off-canvas-width: 81%;
$susy: (
  columns: 12,
  global-box-sizing: border-box
);


$lime: rgb(169, 190, 43);
$lime-alt: rgb(151, 170, 39);
$petroleum :  rgb(0, 120, 121);
$petroleum-alt : rgb(0, 104, 105);
$turquoise : rgb(54, 200, 199);
$turquoise-alt: rgb(41, 184, 183);
$grey : rgb(99, 101, 100);
$grey-gradient-end : rgb(89, 91, 90);
$grey-alt : rgb(51, 52, 55);
$beige: rgb(188, 187, 187);

// bower:scss
@import "susy/sass/_susy.scss";
@import "bourbon/dist/_bourbon.scss";
// endbower
@import "font-awesome";
@import "weather-icons";
@import "utilities";
@import "off-canvas";
@import "menu";
@import "icons";
@import "dashboard";

@include border-box-sizing;

html{font-size: 62.5%}
body {
  background: $grey;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
}


.profile-picture{
  width: 50px;
  height: 50px;
  border-radius: 45px;
  border: 2px solid white;
  vertical-align: middle;
  margin-right: 10px;
}

nav{
  #profile{
    font-size: 0.7em;
    padding: 10px 20px;
    background: $grey-alt;
  }
  #menu-list{
    margin: 0;
    @extend %inline;
    li{
      width: 100%;
      padding: 20px 0 25px 20px;
      font-size: rem(35);
      font-weight: 300;
      position: relative;
      padding-left: 70px;
      @include background(linear-gradient($grey,$grey-gradient-end) left no-repeat);
      &:hover{
        @include background(linear-gradient(rgb(174, 194, 56),$lime) left no-repeat);
        [class^="icon-"],
        [class*=" icon-"]{
          color:white;
        }
      }
    }
  }
}



/* crado vincent */

.list-user-points {
  float: right;
  color: white;
  font-size: 60%;
}

.friend-list {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.friend-list img.profile-picture {
  vertical-align: bottom;
  margin: 15px;
  float: left;
  height: 68px;
  width: auto;
}

.friend-list li.user {
  @include clearfix;
  margin: 0;
  padding: 5px;
  background: #007F7F;
  border-top: 4px solid #00686D;
}

.friend-list li.user .list-user-name {
  font-size: 0.6em;
}

.friend-list li.user .prop {
  font-size: 0.33em;
  float: left;
  width: 35%;
}

.view-friends {
  text-align: center;
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
    font-weight: lighter;
  }
  .hellgy-hero {
    border-top: 4px solid #92B542;
    background: #A7BD49;
  }
  .hellgy-hero button {
    font-size: 18px;
    padding: 10px 20px;
    background: whitesmoke;
    border: none;
    box-shadow: 4px 4px #82A238;
    color: #82A238;
    border-radius: 10px;
  }
}


#main .hexagon {
  width: 100px;
  height: 55px;
  background: black;
  position: relative;
}
#main .hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid black;
}
#main .hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid black;
}

/* */
