<div class="view-achievements">

  <div class="hellgy-hero">
    <h2>Mes throphées</h2>
  </div>

  <div class="achievement">
    <div class="hexagon"></div>
  </div>

  <div class="achievement">
    <div class="hexagon"></div>
  </div>

  <div class="achievement">
    <div class="hexagon"></div>
  </div>

  <div class="achievement">
    <div class="hexagon"></div>
  </div>

  <div class="achievement">
    <div class="hexagon"></div>
  </div>

  <div class="achievement">
    <div class="hexagon"></div>
  </div>

  <div class="achievement">
    <div class="hexagon"></div>
  </div>

  <div class="achievement">
    <div class="hexagon"></div>
  </div>



</div>