<div class="estimation">

    <div class="ridelabel">maison<i class="fa fa-chevron-right"></i>bureau</div>

    <div class="bicycle_kms">
        <span class="value"></span><span class="unit"></span>
    </div>

    <div class="car_time">
        <i class="fa fa-car"></i>
        <time class="value"></time><span class="unit"></span>
    </div>

    <div class="bicycle_time">
        <i class="fa fa-bicycle"></i>
        <time class="value"></time><span class="unit"></span>
    </div>

    <div class="advantages">

        <div class="label">à bicyclette</div>

        <div class="caloric">
            <i class="fa fa-car"></i>
            <span class="value"></span>
            <label class="unit"></label>
        </div>
        <div class="ecologic">
            <span class="value"></span>
            <label class="unit"></label>
        </div>
        <div class="points">
            <span class="value"></span>
            <label class="unit"></label>
        </div>
    </div>

</div>
