<div class="estimation">

    <div class="label">maison<i class="fa fa-chevron-right"></i>bureau</div>

    <div class="kilometers"></div>

    <div class="by-car">
        <i class="fa fa-car"></i>
        <time>30 min</time>
    </div>

    <div class="by-car">
        <i class="fa fa-bicycle"></i>
        <time>18 min</time>
    </div>

    <div class="bicycle-advantages">

        <div class="label">à bicyclette</div>

        <div class="caloric">
            <i class="fa fa-car"></i>
            <span class="value">-99</span>
            <label class="unit">Kcal</label>
        </div>
        <div class="ecologic">
            <span class="value">-35g</span>
            <label class="unit">CO2</label>
        </div>
        <div class="achievement">
            <span class="value">+23</span>
            <label class="unit">points</label>
        </div>
    </div>

</div>
