<ul id="menu-list">

    <li class="menu-username">
        <a data-view="UserProfile"><%= user.niceName() %></a>
    </li>

    <li class="menu-link">
        <a data-view="Somewhere">Aller à</a>
    </li>

    <li class="menu-link">
        <a data-view="Rides">Balades</a>
    </li>

    <li class="menu-link">
        <a data-view="Achievements">Trophés</a>
    </li>

    <li class="menu-link">
        <a data-view="Partners">Réducs</a>
    </li>

    <li class="menu-link">
        <a data-view="Friends">Coupains</a>
    </li>

</ul>