<nav>
  <div id="profile">
    <a data-view="UserProfile">
      <img src="http://avatars.io/email/<%= user.get('email') %>" alt="" class="profile-picture"><%= user.niceName() %>
    </a>
  </div>
  <ul id="menu-list">
    <li class="menu-link">
      <a data-view="Somewhere">
        <i class="fa fa-random"></i> Aller à
      </a>
    </li>
    <li class="menu-link">
      <a data-view="Rides">
        <i class="fa fa-map-marker"></i> Balades
      </a>
    </li>
    <li class="menu-link">
      <a data-view="Achievements">
        <i class="fa fa-graduation-cap"></i> Trophés
      </a>
    </li>
    <li class="menu-link">
      <a data-view="Partners">
        <i class="fa fa-money"></i> Réductions
      </a>
    </li>
    <li class="menu-link">
      <a data-view="Friends">
        <i class="fa fa-users"></i> Coupains
      </a>
    </li>
    <li class="menu-link">
      <a data-view="Config">
        <i class="fa fa-gears"></i> Paramètres
      </a>
    </li>
  </ul>
</nav>
