<div class="stats">

    <div class="label">depuis <span class="duration">42 jours</span></div>

    <div class="bicycle-advantages">
        <div class="caloric">
            <i class="fa fa-heart"></i>
            <span class="value">-99</span>
            <label class="unit">Kcal</label>
        </div>
        <div class="ecologic">
            <i class="fa fa-thumbs-up"></i>
            <span class="value">-35g</span>
            <label class="unit">CO2</label>
        </div>
        <div class="achievement">
            <i class="fa fa-graduation-cap"></i>
            <span class="value">+23</span>
            <label class="unit">points</label>
        </div>
    </div>

</div>