<div class="view-profile">

  <div class="user-hero">
    <img src="http://avatars.io/email/<%= user.get('email') %>?size=large" class="profile-picture">
    <i class="edit fa fa-edit"></i>
    <h2><%= user.niceName() %></h2>
  </div>

  <% if (editable) { %>

    <input placeholder="Votre nom" name="name" type="text" value="<%= user.get('name') %>" />

    <br>

    <input placeholder="Votre email" name="email" type="text" value="<%= user.get('email') %>" />

    <br>

    <input placeholder="Votre adresse" name="homeAddress" type="text" value="<%= user.get('homeAddress') %>" />

    <br>

    <input placeholder="L'adresse du boulot" name="workAddress" type="text" value="<%= user.get('workAddress') %>" />

    <br>

    <div class="styled-select">
      <i class="fa fa-chevron-down" for="carType"></i>
      <select name="carType" id="carType">
        <% var t = user.get('carType') %>
        <option value="oil" <%= t==='oil' ? 'selected' : '' %>>Voiture essence</option>
        <option value="diesel" <%= t==='diesel' ? 'selected' : '' %>>Voiture diesel</option>
      </select>
    </div>

    <br>

    <button class="edit">Enregistrer</button>

  <% } else { %>

  <div class="hellgy-hero">
    <h2>depuis 53 jours</h2>

    <br>

    <div class="item">
      <i class="icon-iconmonstr-favorite-4-icon"></i>
      <span class="value">2435</span>
      <span class="unit">Kcal brûlées</span>
      <span class="fun">(28 bières)</span>
    </div>

    <div class="item">
      <i class="icon-co2"></i>
      <span class="value">724</span>
      <span class="unit">g C02 en moins</span>
      <span class="fun">(8 ours blancs)</span>
    </div>

    <div class="item">
      <i class="fa fa-euro"></i>
      <span class="value">242,5</span>
      <span class="unit">&euro; économisés</span>
      <span class="fun">(28 burgers)</span>
    </div>

    <div class="item">
      <i class="icon-iconmonstr-trophy-12-icon"></i>
      <span class="value">65477</span>
      <span class="unit">points gagnés</span>
      <span class="fun">(12 offres offres)</span>
    </div>

  </div>

  <br>
  <br>

  <%=
    JST.achievements({
      user: user,
      achievements: [
        { image: '', name: 'Sous stéroïdes'       },
        { image: '', name: 'Petites roulettes'    },
        { image: '', name: 'Cycliste du dimanche' },
        { image: '', name: 'Night rider'          },
        { image: '', name: 'Good karma'           },
        { image: '', name: 'Comme un lundi'       },
        { image: '', name: 'Le tour de Metz'      },
        { image: '', name: 'Tri cycles'           },
        { image: '', name: 'Sous stéroïdes'       },
        { image: '', name: 'Petites roulettes'    },
        { image: '', name: 'Cycliste du dimanche' },
        { image: '', name: 'Night rider'          },
        { image: '', name: 'Good karma'           },
        { image: '', name: 'Comme un lundi'       },
        { image: '', name: 'Le tour de Metz'      },
        { image: '', name: 'Tri cycles'           },
        { image: '', name: 'Sous stéroïdes'       },
        { image: '', name: 'Petites roulettes'    },
        { image: '', name: 'Cycliste du dimanche' },
        { image: '', name: 'Night rider'          },
        { image: '', name: 'Good karma'           },
        { image: '', name: 'Comme un lundi'       },
        { image: '', name: 'Le tour de Metz'      },
        { image: '', name: 'Tri cycles'           },
      ]
    })
  %>

  <% } %>

</div>