<div class="weather">

    <div class="morning">
        <span class="label">Ce matin <time>8:00</time></span>
        <i class="icon wi wi-day-sunny"></i>
        <span class="temperature">10°</span>
    </div>

    <div class="evening">
        <span class="label">Ce soir <time>17:00</time></span>
        <i class="icon wi wi-day-cloudy"></i>
        <span class="temperature">18°</span>
    </div>

    <div class="rain-chances">
        Pluie dans l'heure: <span class="rain-chances-value">25%</span> de chances
    </div>

</div>